@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

.heading-font {
  font-family: 'Cormorant Garamond', serif;
}

.body-font {
  font-family: 'Inter', sans-serif;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 999px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}
